<div class="product">
  <div class="img">
    <img src="../../../assets/img/product.png" />
  </div>
  <div class="d-flex justify-content-center mt-1">
    <h5>{{product.name}}</h5>
  </div>
  <div class="d-flex align-items-center flex-column mt-1 ">
    <label>€{{product.price}}</label>
    <span *ngIf="product.promotionId !== 0" class="promotion">{{product.promotion}}</span>
  </div>
  <div class="d-flex justify-content-center mt-1">

    <mat-form-field>
      <button mat-button mat-icon-button matPrefix aria-label="Remove" [color]="getColor()"
        (click)="dencrementValue(_step)" [disabled]="shouldDisableDecrement(_value)">
        <mat-icon>remove</mat-icon>
      </button>
      <input matInput type="number" [(ngModel)]="_value" (focus)="setColor('primary')" (blur)="setColor('default')" />
      <button mat-button mat-icon-button matSuffix aria-label="Add" [color]="getColor()" (click)="incrementValue(_step)"
        [disabled]="shouldDisableIncrement(_value)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>